body {
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  user-select: none;
}

#backgroundimage {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  z-index: 0;
  display: block;
  position: fixed;
  margin: 0;
  animation: blurIn 0.7s;
}

.locationbox {
  position: absolute;
  width: 40%;
  min-width: 300px;
  height: 10%;
  min-height: 68px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  box-shadow: 0px 0px 25px #737373;
  transition: background-color 0.3s, width 0.3s, height 0.3s;
  opacity: 1;
  z-index: 1;

  &:hover {
    background-color: #cacaca;
  }

  .searchtext {
    position: absolute;
    font-family: sans-serif;
    font-weight: normal;
    color: grey;
    font-size: 100%;
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 10%;
    width: 80%;
    outline: none;
  }

  input {
    outline: none;
    border: none;

    &::selection {
      background-color: rgb(188, 222, 250);
      opacity: 0.5;
      border-radius: 10px;
    }
  }

  #searchicon {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    font-weight: normal;
  }

  .autocomplete-item {
    height: 10%;
    margin: 0 30px;
    animation: fadeIn 0.3s ease-out;
    transition: background-color 0.3s;

    &:hover {
      background-color: #bebebe;
      height: 30px;
    }

    &:focus {
      outline: none;
      border: none;
    }
  }
}

.autocomplete {
  position: absolute;
  transform: translateY(50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300%;
  background-color: white;
  border-radius: 7px;
  font-family: sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  animation: moveIn 0.3s ease-out;
}

@keyframes moveIn {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }

  100% {
    transform: translateY(50%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blurIn {
  from {
    filter: blur(2px);
  }

  to {
    filter: blur(0px);
  }
}
