#header {
    font-family: sans-serif;
    margin: 50px 50px;
    animation: fadeIn 0.3s;
}

#line-under-header {
    width: 100%;
    height: 2px;
    background-color: #bebebe;
    animation: expandLine 0.3s;
}

#background {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

#icon {
    width: 150px;
    height: 150px;
    animation: fadeIn 0.3s;
    margin-top: 10%;
    pointer-events: none;
}

#appname, #madeby {
    animation: fadeIn 0.3s;
    z-index: 99;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
    margin: 40px;
}

#madeby {
    color: #8d8d91;
    font-size: medium;
}

#madeby img {
    width: 30px;
    height: 30px;
    margin: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.985) translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateX(0%);
    }
}

@keyframes expandLine {
    0% {
        width: 10px
    }

    100% {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #header {
        text-align: center;
        margin: 50px 0;
    }
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-drag: none;
}

/* total width */
::-webkit-scrollbar {
    background-color:#fff;
    width:16px
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color:#fff;
    border-radius: 7px;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:4px solid #fff;
    transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #8d8d91;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {display:none}