@use "standards/dimensionStandard";
@use "standards/colorStandard";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.syscontrols {
  user-select: none;
  -webkit-user-drag: none;

  .win-titlebar {
    -webkit-app-region: drag;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: calc(100% - 40px);
    background-color: colorStandard.$darkModeTitlebar;

    #closebtn {
      &:hover {
        background: #E81123;
      }

      &:active {
        background: #bf101c;
      }
    }

    .win-titlebar-btns {
      float: right;
      -webkit-app-region: no-drag;
      outline: none;
      border: none;
      background-color: transparent;
      width: 50px;
      height: 100%;
      padding: 2px;
      color: white;

      &:hover {
        background-color: colorStandard.$darkModeTitlebarHover;
      }

      &:active {
        background-color: colorStandard.$darkModeTitlebarHold;
      }

      svg {
        display: block;
        margin: auto;
      }
    }
  }
}

#extendbar {
  width: calc(100% - 50px * 3);
  height: 40px;
  margin: 10px 0;
  -webkit-app-region: drag;
}

#tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;

  #newtab-btn {
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: large;
    -webkit-app-region: no-drag;

    &:hover {
      background-color: #262626;
      border-radius: 10px;
    }
  }
}

.tab {
  position: relative;
  height: 25px;
  background-color: colorStandard.$tabBackgroundColor;
  border-radius: 7px;
  margin: 0 5px;
  flex-grow: 0;
  flex-basis: 75px;
  max-width: 300px;
  animation: newtab 0.6s forwards ease-out;
  -webkit-user-drag: auto;
  transform: translate(0%, -10%);
  -webkit-box-shadow: 3px 2px 235px -103px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 2px 235px -103px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 2px 235px -103px rgba(0, 0, 0, 0.75);
  z-index: 0;
  -webkit-app-region: no-drag;

  h6 {
    z-index: 2;
    position: absolute;
    transform: translate(10px, -20px);
    font-family: sans-serif;
    font-weight: normal;
    text-align: left;
    float: left;
    margin-right: 50px;
    text-overflow: fade;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
  }

  &:hover {
    background-color: colorStandard.$tabBackgroundColorHover;
  }

  #closetab-btn {
    position: absolute;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: fit-content;
    height: fit-content;

    &:hover {
      background-color: colorStandard.$darkModeTitlebarHover;
      border-radius: 10px;
    }
  }
}

.tab-close {
  animation: close-tab 0.3s forwards ease-out;
}

@keyframes newtab {
  0% {
    flex-grow: 0;
    min-width: 20px;
  }

  100% {
    flex-grow: 1;
    min-width: 80px;
  }
}

@keyframes close-tab {
  0% {
    flex-grow: 1;
    min-width: 80px;
  }

  100% {
    flex-grow: 0;
    min-width: 20px;
  }
}